/**************About Me*************/


/*****************/


/*********************Responsive*************/

@media screen and (max-width: 380px) {
    .post_Dminor {
        margin: 0px auto;
    }
    .Aminor {
        display: block;
        height: auto;
    }
    .Aminor h2 a {
        align-self: center;
    }
    .Aminor p {
        margin: 0 auto;
        line-height: 1.5em;
    }
    .post_Dminor img {
        width: 100%;
        padding: 20% 20%;
    }
    .post_featured img {
        padding: 2% 0% 10%;
    }
    /************Education*************/
    .post_Bminor img {
        width: 100%;
        padding: 20% 20%;
    }
    .minor {
        line-height: 1.5em
    }
    /*****************Skills******************/
    section.skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0% 0% 0%;
        justify-items: center;
        align-items: center;
    }
    li.skills-list i,
    p {
        display: block;
        align-content: center;
        justify-self: center;
    }
    li.skills-list p.skill {
        line-height: 1em;
    }
    .post_Cminor img {
        width: 40%;
        margin: 0px auto;
        margin-left: 30%;
    }
}


/* Project posts*/

section.posts img {
    width: 50%;
    height: 100px;
}

#footer {
    padding: 10%;
}