html {
    box-sizing: border-box;
    background: url('./mobile_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'helvetica neue';
    font-size: 30px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    width: 100%;
}

main.wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 0.2rem;
    font-size: 1.6rem;
    margin: 0 auto;
}

h2 {
    margin-top: 1.4rem;
    font-size: .8rem;
    width: 80%;
    margin: 0 auto;
    color: black;
}

p.hiddenTranslation::before,
p.hiddenDefinition::before {
    content: "";
    display: none;
}

p.hiddenTranslation::after {
    content: "Translation";
    font-size: 0.7rem;
    font-weight: bold;
    width: 100%;
    font-style: italic;
    color: white;
}

p.hiddenDefinition::after {
    content: "Definition";
    font-size: 0.7rem;
    font-weight: bold;
    width: 100%;
    font-style: italic;
    color: white;
}

.container {
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
}

legend {
    font-size: .7rem;
    width: 80%;
    font-style: italic;
    margin: 0 auto;
}

input {
    width: 80%;
    margin: 0 auto;
    padding: .5rem;
    font-size: .8rem;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 80%;
    /*perspective: 20px;*/
}

div#word {
    content: counter(',');
    background-color: white;
    padding: 0.3rem;
}

div#definition {
    background-color: white;
    padding: 0.3rem;
}

button {
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
    width: 80%;
    border: rgba(122, 30, 30, 0.12);
    border-width: 10px;
    border: solid 5px black;
}

@media screen and (min-width: 400px) {
    html {
        background-image: url('./background2.jpg');
    }
    .wrapper {
        margin: 0 auto;
        width: 80%;
    }
    h2 {
        margin: 0 auto;
    }
}