@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

section.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

p.skill {
    text-justify: center;
    text-align: center;
}

header.minor a#skills,
a#projects,
a#education,
a#about_me,
a#contact_me,
a#education img,
p,
h4 {
    display: flex;
    justify-content: center;
    width: 100%;
}

article.post_minor img {
    justify-items: center;
}

.post_featured img {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
}

.elinks {
    color: lightseagreen;
}


/**************About Me*************/

.post_Dminor {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.post_Dminor img {
    grid-column: span1;
    width: 100%;
    padding: 7% 30%;
}

.Aminor {
    grid-column: span2;
}

.Aminor h2 a {
    align-items: right;
    justify-content: right;
    margin: 0 auto;
}

.Aminor p {
    margin: 0 auto;
}


/*****************/

.post-skills {
    height: auto;
}

Article img {
    align-self: center;
    justify-self: center;
}

.skills-list {
    display: block;
    list-style: none;
    text-align: center;
    font-family: devicons;
    overflow-block: inherit;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.image_main {
    justify-content: center;
    align-content: center;
}


/*********************Responsive*************/

@media screen and (max-width: 380px) {
    .post_Dminor {
        margin: 0px auto;
    }
    .Aminor {
        display: block;
        height: auto;
    }
    .Aminor h2 a {
        align-self: center;
    }
    .Aminor p {
        margin: 0 auto;
        line-height: 1.5em;
    }
    .post_Dminor img {
        width: 100%;
        padding: 20% 20%;
    }
    .post_featured img {
        padding: 2% 0% 10%;
    }
    /************Education*************/
    .post_Bminor img {
        width: 100%;
        padding: 20% 20%;
    }
    .minor {
        line-height: 1.5em
    }
    /*****************Skills******************/
    section.skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0% 0% 0%;
        justify-items: center;
        align-items: center;
    }
    li.skills-list i,
    p {
        display: block;
        align-content: center;
        justify-self: center;
    }
    li.skills-list p.skill {
        line-height: 1em;
    }
    .post_Cminor img {
        width: 40%;
        margin: 0px auto;
        margin-left: 30%;
    }
}

.bg fixed img {
    align-self: center;
}

.post_Bminor {
    text-decoration: none;
}

.post_Bminor img {
    width: 100%;
    padding: 5% 20%;
}

.post_Cminor img {
    width: 40%;
    margin: 0px auto;
    margin-left: 30%;
}

.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: rgb(100, 110, 252);
    transform: translateY(-50%) rotate(45deg);
}

.bio {
    min-width: 500px;
    display: flex;
    justify-content: left;
    align-items: left;
    line-height: 1.7;
}

.bio img {
    float: left;
    margin-right: 20px;
    max-width: 50px;
}

.projects img {
    max-width: 50px;
}

.courses {
    min-width: 300px;
}

.courses li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown a {
    text-decoration: none;
    color: #d14014;
}

a.button {
    background: rgb(160, 169, 172);
    display: block;
    padding: 10px;
    color: rgb(56, 63, 70);
    margin-bottom: 10px;
    align-content: center;
    justify-content: center;
}


/* Project posts*/

section.posts img {
    width: 50%;
    height: 100px;
}

#footer {
    padding: 10%;
}


/* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */

.button[href*=twitter] {
    background: #019FE9;
}

.button[href*=facebook] {
    background: #3B5998;
}

.button[href*=courses] {
    background: #ffc600;
}