$scroll-bar-width: 16px;

@mixin sidescroll-root($height: 100vw) {
  --sidescroll-height: #{$height};
  --sidescroll-shift: -#{$height};

  height: 100vw !important;
  width: calc(#{$height} + #{$scroll-bar-width}) !important;
  margin: -#{$scroll-bar-width};
  overflow: hidden auto;
  transform-origin: top right;
  transform: rotate(-90deg) translateY(-#{$height});
  // outline: solid green 2px;
}

@mixin sidescroll-section($width, $offset: 0px) {
  width: $width !important;
  height: var(--sidescroll-height) !important;
  transform-origin: top left;
  transform: rotate(90deg) translate3d(#{$offset}, var(--sidescroll-shift), 0);
  // outline: solid yellow 2px;
}
