html {
    box-sizing: border-box;
    background-color: grey;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura, "Times New Roman", Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

svg {
    fill: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 50%;
    width: 400px;
    margin-bottom: 50px;
}

.container {
    padding: 20px;
    max-width: 350px;
    background: rgba(100, 79, 79, 0.95);
    box-shadow: 0 0 0 10px rgba(48, 42, 42, 0.1);
}

h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}

.todoList {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.todoList li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}

.todoList label {
    flex: 1;
    cursor: pointer;
}

.todoList input {
    display: none;
}

.todoList input+label:before {
    content: "⬜️";
    margin-right: 10px;
}


.todoList input:checked+label:before,
p {
    content: "🏆";
    /*text-decoration: line-through;*/
}


.add-todos {
    margin-top: 20px;
}

.add-todos input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

footer .boxes {
    margin: 10px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 100;
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.boxes div {
    background-color: rgba(100, 79, 79, 0.95);
    padding: 10px;
}


.boxes div:hover {
    cursor: pointer;
    background-color: grey;

}

.todosLeft {

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: .8em;
}

.allTodos {

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.activeTodos {

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.completedTodos {

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.task-manager {

    padding: 20px;
    max-width: 350px;
    background: rgba(100, 79, 79, 0.95);
    box-shadow: 0 0 0 10px rgba(48, 42, 42, 0.1);
    margin-top: 50px;

}